# My Jupyter Notebook on IBM Watson Studio

**Onur Can**
Current occupation is a structural engineer.

I am interested in data science because it is the most demanding profession in the 21st century. I also enjoy working with data and finding a solution to a given problem.

### My code will convert 100 kilometers to miles.

In [4]:
km = float(input("enter a value in km: "))
conversion = 0.6213
miles = km * conversion
print('%0.2f km is equal to %0.2f miles' %(km,miles))

enter a value in km:  100

100.00 km is equal to 62.13 miles

- car
- plane
- ship

1. apple
2. pineapple
3. melon

>blockquote example